/* styles.css */

.container {
  position: relative;
  height: 100vh; /* 화면 전체 높이에 맞게 설정 */
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background-image: url("../src/img/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Set the opacity (0.0 to 1.0) */
  z-index: 1;
}

.your-component {
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  z-index: 2;
}
